/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

/*
Font: 		Sofia Pro
Style: 		Regular, Semi Bold, Bold
URL: 		https://www.youworkforthem.com/font/T3033/sofia-pro
Foundry: 	Mostardesign
Foundry: 	https://www.youworkforthem.com/designer/109/mostardesign
Copyright:	Copyright (c) Olivier Gourvat - Mostardesign Type Foundry, 2016. All rights reserved.
Version: 	17
Created:	August 04, 2020
License: 	https://www.youworkforthem.com/font-license
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted
			from using the WebFont(s) listed without a purchased license.
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
  font-family: 'sofia-pro';
  font-weight: 400;
  src:
    url('/fonts/sofia-pro-regular.woff2') format('woff2'),
    url('/fonts/sofia-pro-regular.woff') format('woff');
}

@font-face {
  font-family: 'sofia-pro';
  font-weight: 600;
  src:
    url('/fonts/sofia-pro-semi-bold.woff2') format('woff2'),
    url('/fonts/sofia-pro-semi-bold.woff') format('woff');
}

@font-face {
  font-family: 'sofia-pro';
  font-weight: 700;
  src:
    url('/fonts/sofia-pro-bold.woff2') format('woff2'),
    url('/fonts/sofia-pro-bold.woff') format('woff');
}

/*
Fonts: 		Proxima Nova
Style: 		Regular, Semi Bold
URL: 		https://www.youworkforthem.com/font/T0467/proxima-nova
Foundry: 	Mark Simonson
Foundry: 	https://www.youworkforthem.com/designer/73/mark-simonson
Copyright:	Copyright (c) Mark Simonson, 2005. All rights reserved.
Version: 	17
Created:	April 22, 2020
License: 	https://www.youworkforthem.com/font-license
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted
			from using the WebFont(s) listed without a purchased license.
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
  font-family: 'proxima-nova';
  font-weight: 400;
  src:
    url('/fonts/proxima-nova-regular.woff2') format('woff2'),
    url('/fonts/proxima-nova-regular.woff') format('woff');
}

@font-face {
  font-family: 'proxima-nova';
  font-weight: 600;
  src:
    url('/fonts/proxima-nova-semibold.woff2') format('woff2'),
    url('/fonts/proxima-nova-semibold.woff') format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: #333;
  background: #fff;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    proxima-nova,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.theme-scaffolding {
  background: var(--color-background);
  color: var(--color-text);
}
